# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL=""

# Vercel Blob Storage Credentials
BLOB_READ_WRITE_TOKEN=""

# Vercel Postgres Database Credentials
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# Authentication Defaults
AUTH_PASSWORD="saya123"
